:root {
  --background-color: #263238;
  --dark-gray: #37474f;
  --medium-gray: #607d8b;
  --light-gray: #cfd8dc;
  --primary-color: #2b3b4f;
  --accent-color: #00bcd4;
  --danger-color: #e74c3c;
  --text-color: #eceff1;
  --white: #ffffff;
  /* etc... */
}
